div{

--cz-blue: #0d6efd;
--cz-indigo: #6610f2;
--cz-purple: #6f42c1;
--cz-pink: #d63384;
--cz-red: #dc3545;
--cz-orange: #fd7e14;
--cz-yellow: #ffc107;
--cz-green: #198754;
--cz-teal: #20c997;
--cz-cyan: #0dcaf0;
--cz-black: #000;
--cz-white: #fff;
--cz-gray: #7d879c;
--cz-gray-dark: #373f50;
--cz-gray-100: #f6f9fc;
--cz-gray-200: #f3f5f9;
--cz-gray-300: #e3e9ef;
--cz-gray-400: #dae1e7;
--cz-gray-500: #aeb4be;
--cz-gray-600: #7d879c;
--cz-gray-700: #4b566b;
--cz-gray-800: #373f50;
--cz-gray-900: #2b3445;
--cz-primary: #fe696a;
--cz-accent: #4e54c8;
--cz-secondary: #f3f5f9;
--cz-success: #42d697;
--cz-info: #69b3fe;
--cz-warning: #fea569;
--cz-danger: #f34770;
--cz-light: #fff;
--cz-dark: #373f50;
--cz-primary-rgb: 254, 105, 106;
--cz-accent-rgb: 78, 84, 200;
--cz-secondary-rgb: 243, 245, 249;
--cz-success-rgb: 66, 214, 151;
--cz-info-rgb: 105, 179, 254;
--cz-warning-rgb: 254, 165, 105;
--cz-danger-rgb: 243, 71, 112;
--cz-light-rgb: 255, 255, 255;
--cz-dark-rgb: 55, 63, 80;
--cz-white-rgb: 255, 255, 255;
--cz-black-rgb: 0, 0, 0;
--cz-body-color-rgb: 75, 86, 107;
--cz-body-bg-rgb: 255, 255, 255;
--cz-font-sans-serif: "Rubik", sans-serif;
--cz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
--cz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
--cz-body-font-family: var(--cz-font-sans-serif);
--cz-body-font-size: 1rem;
--cz-body-font-weight: 400;
--cz-body-line-height: 1.5;
--cz-body-color: #4b566b;
--cz-body-bg: #fff;
--cz-border-width: 1px;
--cz-border-style: solid;
--cz-border-color: #e3e9ef;
--cz-border-color-translucent: rgba(0, 0, 0, 0.175);
--cz-border-radius: 0.3125rem;
--cz-border-radius-sm: 0.25rem;
--cz-border-radius-lg: 0.4375rem;
--cz-border-radius-xl: 1rem;
--cz-border-radius-2xl: 2rem;
--cz-border-radius-pill: 50rem;
--cz-link-color: #fe696a;
--cz-link-hover-color: #fe3638;
--cz-code-color: #d63384;
--cz-highlight-bg: #fff3cd;
font-family: var(--cz-body-font-family);
font-size: var(--cz-body-font-size);
font-weight: var(--cz-body-font-weight);
line-height: var(--cz-body-line-height);
color: var(--cz-body-color);
text-align: var(--cz-body-text-align);
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0,0,0,0);
--cz-bg-opacity: 1;
--cz-gutter-x: 1.875rem;
--cz-gutter-y: 0;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;


}

#btn1{
    --cz-blue: #0d6efd;
    --cz-indigo: #6610f2;
    --cz-purple: #6f42c1;
    --cz-pink: #d63384;
    --cz-red: #dc3545;
    --cz-orange: #fd7e14;
    --cz-yellow: #ffc107;
    --cz-green: #198754;
    --cz-teal: #20c997;
    --cz-cyan: #0dcaf0;
    --cz-black: #000;
    --cz-white: #fff;
    --cz-gray: #7d879c;
    --cz-gray-dark: #373f50;
    --cz-gray-100: #f6f9fc;
    --cz-gray-200: #f3f5f9;
    --cz-gray-300: #e3e9ef;
    --cz-gray-400: #dae1e7;
    --cz-gray-500: #aeb4be;
    --cz-gray-600: #7d879c;
    --cz-gray-700: #4b566b;
    --cz-gray-800: #373f50;
    --cz-gray-900: #2b3445;
    --cz-primary: #fe696a;
    --cz-accent: #4e54c8;
    --cz-secondary: #f3f5f9;
    --cz-success: #42d697;
    --cz-info: #69b3fe;
    --cz-warning: #fea569;
    --cz-danger: #f34770;
    --cz-light: #fff;
    --cz-dark: #373f50;
    --cz-primary-rgb: 254, 105, 106;
    --cz-accent-rgb: 78, 84, 200;
    --cz-secondary-rgb: 243, 245, 249;
    --cz-success-rgb: 66, 214, 151;
    --cz-info-rgb: 105, 179, 254;
    --cz-warning-rgb: 254, 165, 105;
    --cz-danger-rgb: 243, 71, 112;
    --cz-light-rgb: 255, 255, 255;
    --cz-dark-rgb: 55, 63, 80;
    --cz-white-rgb: 255, 255, 255;
    --cz-black-rgb: 0, 0, 0;
    --cz-body-color-rgb: 75, 86, 107;
    --cz-body-bg-rgb: 255, 255, 255;
    --cz-font-sans-serif: "Rubik", sans-serif;
    --cz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --cz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --cz-body-font-family: var(--cz-font-sans-serif);
    --cz-body-font-size: 1rem;
    --cz-body-font-weight: 400;
    --cz-body-line-height: 1.5;
    --cz-body-color: #4b566b;
    --cz-body-bg: #fff;
    --cz-border-width: 1px;
    --cz-border-style: solid;
    --cz-border-color: #e3e9ef;
    --cz-border-color-translucent: rgba(0, 0, 0, 0.175);
    --cz-border-radius: 0.3125rem;
    --cz-border-radius-sm: 0.25rem;
    --cz-border-radius-lg: 0.4375rem;
    --cz-border-radius-xl: 1rem;
    --cz-border-radius-2xl: 2rem;
    --cz-border-radius-pill: 50rem;
    --cz-link-color: #fe696a;
    --cz-link-hover-color: #fe3638;
    --cz-code-color: #d63384;
    --cz-highlight-bg: #fff3cd;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --cz-gutter-x: 1.875rem;
    --cz-gutter-y: 0;
    box-sizing: border-box;
    margin: 0;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: button;
    --cz-btn-padding-x: 1.375rem;
    --cz-btn-padding-y: 0.625rem;
    --cz-btn-font-family: ;
    --cz-btn-font-size: 0.9375rem;
    --cz-btn-font-weight: normal;
    --cz-btn-line-height: 1.5;
    --cz-btn-color: #4b566b;
    --cz-btn-bg: transparent;
    --cz-btn-border-width: 1px;
    --cz-btn-border-color: transparent;
    --cz-btn-border-radius: 0.3125rem;
    --cz-btn-hover-border-color: transparent;
    --cz-btn-box-shadow: unset;
    --cz-btn-disabled-opacity: 0.65;
    --cz-btn-focus-box-shadow: 0 0 0 0 rgba(var(--cz-btn-focus-shadow-rgb), .5);
    display: inline-block;
    font-family: var(--cz-btn-font-family);
    font-size: var(--cz-btn-font-size);
    font-weight: var(--cz-btn-font-weight);
    line-height: var(--cz-btn-line-height);
    color: var(--cz-btn-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: var(--cz-btn-border-width) solid var(--cz-btn-border-color);
    border-radius: var(--cz-btn-border-radius);
    box-shadow: var(--cz-btn-box-shadow);
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .2s ease-in-out;
    margin-right: .5rem !important;
    --cz-bg-opacity: 0.3;
    background-color: rgba(var(--cz-info-rgb), var(--cz-bg-opacity));
    padding: .625rem .875rem;
    cursor: pointer;
}
#btn2{
    --cz-blue: #0d6efd;
    --cz-indigo: #6610f2;
    --cz-purple: #6f42c1;
    --cz-pink: #d63384;
    --cz-red: #dc3545;
    --cz-orange: #fd7e14;
    --cz-yellow: #ffc107;
    --cz-green: #198754;
    --cz-teal: #20c997;
    --cz-cyan: #0dcaf0;
    --cz-black: #000;
    --cz-white: #fff;
    --cz-gray: #7d879c;
    --cz-gray-dark: #373f50;
    --cz-gray-100: #f6f9fc;
    --cz-gray-200: #f3f5f9;
    --cz-gray-300: #e3e9ef;
    --cz-gray-400: #dae1e7;
    --cz-gray-500: #aeb4be;
    --cz-gray-600: #7d879c;
    --cz-gray-700: #4b566b;
    --cz-gray-800: #373f50;
    --cz-gray-900: #2b3445;
    --cz-primary: #fe696a;
    --cz-accent: #4e54c8;
    --cz-secondary: #f3f5f9;
    --cz-success: #42d697;
    --cz-info: #69b3fe;
    --cz-warning: #fea569;
    --cz-danger: #f34770;
    --cz-light: #fff;
    --cz-dark: #373f50;
    --cz-primary-rgb: 254, 105, 106;
    --cz-accent-rgb: 78, 84, 200;
    --cz-secondary-rgb: 243, 245, 249;
    --cz-success-rgb: 66, 214, 151;
    --cz-info-rgb: 105, 179, 254;
    --cz-warning-rgb: 254, 165, 105;
    --cz-danger-rgb: 243, 71, 112;
    --cz-light-rgb: 255, 255, 255;
    --cz-dark-rgb: 55, 63, 80;
    --cz-white-rgb: 255, 255, 255;
    --cz-black-rgb: 0, 0, 0;
    --cz-body-color-rgb: 75, 86, 107;
    --cz-body-bg-rgb: 255, 255, 255;
    --cz-font-sans-serif: "Rubik", sans-serif;
    --cz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --cz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --cz-body-font-family: var(--cz-font-sans-serif);
    --cz-body-font-size: 1rem;
    --cz-body-font-weight: 400;
    --cz-body-line-height: 1.5;
    --cz-body-color: #4b566b;
    --cz-body-bg: #fff;
    --cz-border-width: 1px;
    --cz-border-style: solid;
    --cz-border-color: #e3e9ef;
    --cz-border-color-translucent: rgba(0, 0, 0, 0.175);
    --cz-border-radius: 0.3125rem;
    --cz-border-radius-sm: 0.25rem;
    --cz-border-radius-lg: 0.4375rem;
    --cz-border-radius-xl: 1rem;
    --cz-border-radius-2xl: 2rem;
    --cz-border-radius-pill: 50rem;
    --cz-link-color: #fe696a;
    --cz-link-hover-color: #fe3638;
    --cz-code-color: #d63384;
    --cz-highlight-bg: #fff3cd;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --cz-gutter-x: 1.875rem;
    --cz-gutter-y: 0;
    box-sizing: border-box;
    margin: 0;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: button;
    --cz-btn-padding-x: 1.375rem;
    --cz-btn-padding-y: 0.625rem;
    --cz-btn-font-family: ;
    --cz-btn-font-size: 0.9375rem;
    --cz-btn-font-weight: normal;
    --cz-btn-line-height: 1.5;
    --cz-btn-color: #4b566b;
    --cz-btn-bg: transparent;
    --cz-btn-border-width: 1px;
    --cz-btn-border-color: transparent;
    --cz-btn-border-radius: 0.3125rem;
    --cz-btn-hover-border-color: transparent;
    --cz-btn-box-shadow: unset;
    --cz-btn-disabled-opacity: 0.65;
    --cz-btn-focus-box-shadow: 0 0 0 0 rgba(var(--cz-btn-focus-shadow-rgb), .5);
    display: inline-block;
    font-family: var(--cz-btn-font-family);
    font-size: var(--cz-btn-font-size);
    font-weight: var(--cz-btn-font-weight);
    line-height: var(--cz-btn-line-height);
    color: var(--cz-btn-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: var(--cz-btn-border-width) solid var(--cz-btn-border-color);
    border-radius: var(--cz-btn-border-radius);
    box-shadow: var(--cz-btn-box-shadow);
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .2s ease-in-out;
    margin-right: .5rem !important;
    --cz-bg-opacity: 0.3;
    background-color: rgba(var(--cz-warning-rgb), var(--cz-bg-opacity));
    padding: .625rem .875rem;
    cursor: pointer;
}
#btn3{
    --cz-blue: #0d6efd;
    --cz-indigo: #6610f2;
    --cz-purple: #6f42c1;
    --cz-pink: #d63384;
    --cz-red: #dc3545;
    --cz-orange: #fd7e14;
    --cz-yellow: #ffc107;
    --cz-green: #198754;
    --cz-teal: #20c997;
    --cz-cyan: #0dcaf0;
    --cz-black: #000;
    --cz-white: #fff;
    --cz-gray: #7d879c;
    --cz-gray-dark: #373f50;
    --cz-gray-100: #f6f9fc;
    --cz-gray-200: #f3f5f9;
    --cz-gray-300: #e3e9ef;
    --cz-gray-400: #dae1e7;
    --cz-gray-500: #aeb4be;
    --cz-gray-600: #7d879c;
    --cz-gray-700: #4b566b;
    --cz-gray-800: #373f50;
    --cz-gray-900: #2b3445;
    --cz-primary: #fe696a;
    --cz-accent: #4e54c8;
    --cz-secondary: #f3f5f9;
    --cz-success: #42d697;
    --cz-info: #69b3fe;
    --cz-warning: #fea569;
    --cz-danger: #f34770;
    --cz-light: #fff;
    --cz-dark: #373f50;
    --cz-primary-rgb: 254, 105, 106;
    --cz-accent-rgb: 78, 84, 200;
    --cz-secondary-rgb: 243, 245, 249;
    --cz-success-rgb: 66, 214, 151;
    --cz-info-rgb: 105, 179, 254;
    --cz-warning-rgb: 254, 165, 105;
    --cz-danger-rgb: 243, 71, 112;
    --cz-light-rgb: 255, 255, 255;
    --cz-dark-rgb: 55, 63, 80;
    --cz-white-rgb: 255, 255, 255;
    --cz-black-rgb: 0, 0, 0;
    --cz-body-color-rgb: 75, 86, 107;
    --cz-body-bg-rgb: 255, 255, 255;
    --cz-font-sans-serif: "Rubik", sans-serif;
    --cz-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --cz-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --cz-body-font-family: var(--cz-font-sans-serif);
    --cz-body-font-size: 1rem;
    --cz-body-font-weight: 400;
    --cz-body-line-height: 1.5;
    --cz-body-color: #4b566b;
    --cz-body-bg: #fff;
    --cz-border-width: 1px;
    --cz-border-style: solid;
    --cz-border-color: #e3e9ef;
    --cz-border-color-translucent: rgba(0, 0, 0, 0.175);
    --cz-border-radius: 0.3125rem;
    --cz-border-radius-sm: 0.25rem;
    --cz-border-radius-lg: 0.4375rem;
    --cz-border-radius-xl: 1rem;
    --cz-border-radius-2xl: 2rem;
    --cz-border-radius-pill: 50rem;
    --cz-link-color: #fe696a;
    --cz-link-hover-color: #fe3638;
    --cz-code-color: #d63384;
    --cz-highlight-bg: #fff3cd;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --cz-gutter-x: 1.875rem;
    --cz-gutter-y: 0;
    box-sizing: border-box;
    margin: 0;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: button;
    --cz-btn-padding-x: 1.375rem;
    --cz-btn-padding-y: 0.625rem;
    --cz-btn-font-family: ;
    --cz-btn-font-size: 0.9375rem;
    --cz-btn-font-weight: normal;
    --cz-btn-line-height: 1.5;
    --cz-btn-color: #4b566b;
    --cz-btn-bg: transparent;
    --cz-btn-border-width: 1px;
    --cz-btn-border-color: transparent;
    --cz-btn-border-radius: 0.3125rem;
    --cz-btn-hover-border-color: transparent;
    --cz-btn-box-shadow: unset;
    --cz-btn-disabled-opacity: 0.65;
    --cz-btn-focus-box-shadow: 0 0 0 0 rgba(var(--cz-btn-focus-shadow-rgb), .5);
    display: inline-block;
    font-family: var(--cz-btn-font-family);
    font-size: var(--cz-btn-font-size);
    font-weight: var(--cz-btn-font-weight);
    line-height: var(--cz-btn-line-height);
    color: var(--cz-btn-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: var(--cz-btn-border-width) solid var(--cz-btn-border-color);
    border-radius: var(--cz-btn-border-radius);
    box-shadow: var(--cz-btn-box-shadow);
    transition: color .25s ease-in-out,background-color .25s ease-in-out,border-color .25s ease-in-out,box-shadow .2s ease-in-out;
    --cz-bg-opacity: 0.3;
    background-color: rgba(var(--cz-danger-rgb), var(--cz-bg-opacity));
    padding: .625rem .875rem;
    cursor: pointer;
}